/RUH/ndvi-report-mailer.log
/RUH/NDVI-auto-processing/ndvi-report-mailer.log
/RUH/credentials/
/DQ/NDVI-auto-processing/__pycache__/
/KKRS/NDVI-auto-processing/__pycache__/
/DQ/output/
/ndvi-mailer/
ee-phill-9248b486a4bc.json
/DQ/credentials/
/DQ/.idea/
/RUH/output/
/KKRS/credentials/

/Gilbert-21.pem

/DQ/NDVI-auto-processing/ndvi-report-mailer.log
