/RUH/NDVI-auto-processing/ndvi-report-mailer.log
/KKRS/NDVI-auto-processing/ndvi-report-mailer.log
/DQ/NDVI-auto-processing/ndvi-report-mailer.log
/RUH/credentials/
/DQ/credentials/
/KKRS/credentials/
/DQ/NDVI-auto-processing/__pycache__/
/KKRS/NDVI-auto-processing/__pycache__/
/RUH/NDVI-auto-processing/__pycache__/
/DQ/output/
/KKRS/output/
/RUH/output/
/ndvi-mailer/
/RUH/NDVI-auto-processing/data.json
/KKSR/NDVI-auto-processing/data.json
/DQ/NDVI-auto-processing/data.json
/DQ/.idea/
ee-phill-9248b486a4bc.json
/Gilbert-21.pem


